services:
  mongo:
    image: mongo:7
    command: ["--replSet", "rs0", "--bind_ip_all"]
    ports:
      - 27017:27017
    healthcheck:
      test: [
        "CMD-SHELL",
        "mongosh --port 27017 --quiet --eval \"try { rs.initiate({_id:'rs0',members:[{_id:0,host:'localhost:27017'}]}) } catch(e) {}; quit(rs.status().ok === 1 ? 0 : 1)\""
      ]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 15s
